# .aliases - Alias for package managers, sorted by package manager

# Option: sudo or doas
if command -v doas >/dev/null 2>&1; then
    priv="doas"
elif command -v sudo >/dev/null 2>&1; then
    priv="sudo"
else
    priv=""
fi

    # pacman (Arch, EndeavourOS, CachyOS )
    if command -v pacman >/dev/null 2>&1; then
        alias update="$priv pacman -Syu"
        alias upgrade="$priv pacman -Syu"
        alias install="$priv pacman -S --needed --noconfirm"
        alias remove="$priv pacman -R --noconfirm"
        alias uninstall="$priv pacman -Rsu --noconfirm"
        alias list="pacman -Qq"
        alias installed="pacman -Qs "$@""
        # alias search="pacman -Ss"
        search() { pacman -Ss "$@" | awk '{print $1}' }

    # apt (Ubuntu, Debian, Linux Mint
    elif command -v apt >/dev/null 2>&1; then
        alias update="$priv apt update -y"
        alias upgrade="$priv apt upgrade -y"
        alias install="$priv apt install -y"
        alias remove="$priv apt remove -y"
        alias uninstall="$priv apt purge -y"
        alias list="apt list"
        # alias search="apt search"
        search() { apt search "$@" | awk '{print $1}' }

    # dnf (Fedora, RHEL)
    elif command -v dnf >/dev/null 2>&1; then
        alias update="$priv dnf update -y"
        alias upgrade="$priv dnf upgrade -y"
        alias install="$priv dnf install -y"
        alias remove="$priv dnf remove -y"
        alias uninstall="$priv dnf remove -y"
        alias list="dnf list"
        alias installed="dnf list installed"
        # alias search="dnf search"
        search() { dnf search "$@" | awk '{print $1}' }

    # zypper (OpenSUSE)
    elif command -v pacman >/dev/null 2>&1; then
        alias update="$priv zypper refresh -y"
        alias upgrade="$priv zypper update -y"
        alias install="$priv zypper install -y"
        alias remove="$priv zypper remove -y"
        alias uninstall="$priv zypper remove -y"
        # alias search="zypper search"
        search() { zypper search "$@" | awk '{print $1}' }

    # xbps (Void Linux)
    elif command -v xbps-install >/dev/null 2>&1; then
        alias update="$priv xbps-install -Sy"
        alias upgrade="$priv xbps-install -Syu"
        alias install="$priv xbps-install -Sy"
        alias remove="$priv xbps-remove -Ry"
        alias uninstall="$priv xbps-remove -Ry"
        alias cleanup="$priv xbps-remove -o && $priv xbps-remove -oO"
        # alias search="xbps-query -Rs"
        search() { xbps-query -s "$@" | awk '{print $1}' }
        fzsearch() { 
          pkg="$(xpkg -a | fzf  --multi --query="$*" --preview="xbps-query -RS {} | bat -l yaml  --color=always -p")"
          [ -n "$pkg" ] && $priv xbps-install -Sy $pkg
        }

    # nix (NixOS, or other systems with Nix installed)
    elif command -v nix-env >/dev/null 2>&1; then
        alias nupdate="nix-channel --update"
        alias nupgrade="nix-env -u"
        alias ninstall="nix-env -i"
        alias nremove="nix-env -e"
        alias nuninstall="nix-env -e"
        # alias nsearch="nix-env -qa"
        search() { nix-env -qa "$@" | awk '{print $1}' }

    # If the distro is not recognized
    else
        echo "Distro not supported for these aliases!"
    fi

